@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}


a{
    text-decoration: none;
}


*,
::before ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin sans";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #352208;
}

h1 {
  font-family: "MV Boli";
}


.couvertureDeLaCart{
    display: flex;
    flex-direction: column-reverse;
}
/* carte tournante*/

.grille {
    background: hsl(269, 41%, 51%);
    display: grid;
    grid-template: 100px 1fr / 50px 1fr;
    width: 6rem;
    height: 5rem;
    margin: 75px auto 0;
  }

/* description /*/

.detailsProduit{
    display: inline;
}

.carte {
    background-color: transparent;
    perspective: 1000px;
    margin: 0px;
    cursor: pointer;
  }
  
  .double-face {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
   
  }
  
   .pile {
    position: absolute;
    width: 15vw;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 5px solid salmon;
    color: seashell;
    border-radius: 3%;
  
  }
  .pile:hover {
      color: rgb(56, 179, 216);
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .face {
    /* background: #333; */
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: url("../../backend/images/teddy_1.jpg"), 
    url("../../backend/images/teddy_2.jpg");
    object-fit: cover; */
  }
  .face img {
    width: 34rem;
    object-fit: cover;
    height: 120px;
    
  }
  .arriere {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  }
  .active {
    transform: rotateY(180deg)
  }


  /* css click description/image tournante */

.descriptionTournante{
   color: snow;

}

/* articles et produits notice */

