/*---------------------footer------------------*/

footer{
  background: radial-gradient(circle at center,#548687 100%, #ffffc7 10%); 
     font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-top: 5px dashed #ffffc7;
    width: 100%;
    color: #3b392d;
  }
  .contenuFooter{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
  }
  
  
  
  .blocFooterContact ,
  .blocFooterServices ,
  .blocFooterReseaux ,
  .blocFooterHoraires{
    width: 25%;
    margin: 0 30px;
  
  }
  
  /*contact*/
  .blocFooterContact h3,
  .blocFooterServices h3,
  .blocFooterReseaux h3,
  .blocFooterHoraires h3{
  
  font-size: 25px;
  padding-bottom: 20px;
  }
  
  .blocFooterContact p{
    padding: 5px 0;
  }
  
  
  /* services*/
  
  .listeReseaux,
  .listeServices,
  .listeHoraires{
    
    list-style-type: none;
  
  }
  
  .listeServices li{
  
    padding: 2px 0;
  }
  
  .listeServices a {
    text-decoration: none;
    color:#ffddee
    ;
  }
  
  .listeServices a:hover{
    color: #ee5544


    ;
  }
  
  .listeReseaux{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    

  }
  .fa {
    color: #eeeeee;
  }
  .fa:hover{
color: #ffddee
;
  }
  /* MEDIA QUERIES*/
  @media screen and (max-width : 1300px) {
    .contenuFooter{
      width: 700px;
      flex-wrap: wrap;
    }
    .blocFooterContact ,
    .blocFooterServices ,
    .blocFooterReseaux ,
    .blocFooterHoraires{
      width: 40%;
      margin: 0 0;
  
    }
    .blocFooterContact:nth-child(1),
    .blocFooterServices:nth-child(1),
    .blocFooterReseaux:nth-child(1),
    .blocFooterHoraires:nth-child(1)
    ,
    .blocFooterContact:nth-child(2),
    .blocFooterServices:nth-child(2),
    .blocFooterReseaux:nth-child(2),
    .blocFooterHoraires:nth-child(2){
      margin-bottom: 50px;
    }
  }
  
  @media screen and (max-width : 800px){
  
    .contenuFooter{
      width: 320px;
      
    }
    .blocFooterContact ,
  .blocFooterServices ,
  .blocFooterReseaux ,
  .blocFooterHoraires
{
      width: 300px;
      margin: 30px 30px;
    }
    .blocFooterContact:nth-child(1),
    .blocFooterServices:nth-child(1),
    .blocFooterReseaux:nth-child(1),
    .blocFooterHoraires:nth-child(1)
    ,
    .blocFooterContact:nth-child(2),
    .blocFooterServices:nth-child(2),
    .blocFooterReseaux:nth-child(2),
    .blocFooterHoraires:nth-child(2)
    {
      margin-bottom: 30px;
    }
    .blocFooterContact:nth-child(1),
    .blocFooterServices:nth-child(1),
    .blocFooterReseaux:nth-child(1),
    .blocFooterHoraires:nth-child(1){
      margin-top: 0;
    }
  
  
  
  }