@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
.contenuPage{
  z-index: 100000;
}
a {
  text-decoration: none;
}
/* --------------- Navbar ---------------- */
.barreDeNavigation {
    position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    /*background: url("../../backend/images/teddy_2.jpg") center/cover no-repeat;*/
    /* background: radial-gradient(circle at center, #bb7766
    10%, #aa66bb
    100%); */
    

    background: radial-gradient(circle at center,#ffa491 10%, #ffffc7 100%); 


    z-index: 1;
  }
.barreDeNavigation img{
    border-radius: 23%;
}
.justifyBarreDeNavigation {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
  }


.navigation ul {
  position: ABSOLUTE;
  cursor: pointer;
  TOP: 38%;
  RIGHT: 15%;
  list-style-type: none;
  
  }


.panierItems {
  position: absolute;
  top: 39%;
  right: 11%;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }
.itemNav{
  font-size: xx-large;
  color: #eeeeee
  ;
}
.fas:hover {
  color: #ffa491
  ;
}
.fas{
  color: #ee5544

;
}

/*
====================================
fin Navbar
====================================
*/


/*======================================
/*-------------------header-------------*/ 
/*=======================================*/
.header {
    min-height: calc(100vh - 60px);
    background: url("../../backend/images/teddy_1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.banniere {
    text-align: center;
    /*background: radial-gradient(circle at center, #c98987 10%, #bc95e7 100%);*/
    background: transparent;
    display: inline-block;
    /* padding: 2rem; */
    color:#3C254C

   
  }
.titreDeLaBanniere {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
.boutonAchatDeLaBanniere {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    /* z-index: 10; */
    position: absolute;
    left: 27%;
     
  }
.boutonAchatDeLaBanniere:hover {
  background: transparent;
  color: var(--mainGrey);
}
/*-----------------fin du header--------------*/
/*/============================================//*/





/* --------------- Produits ---------------- */
.produitsContainer{
  background-color: #FFA491;
}
.produits {
    padding: 4rem 0;
  }
  .titreDeLaSection h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    color: #3C254C;
  }



  .justifyProduits {
    width: 100vw;
    margin: 0 auto;
    /* max-width: 1170px; */
    display: grid;
    /*je veux que la colone soit au minimum 260px (responsive)+ AUTOFIT = prend toute la place restante != autofill*/
     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem; 
    /* border: turquoise;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap; */

  }
  .imgContainer {
    position: relative;
    overflow: hidden;
    border-radius: 25%;
  }
  .boutonDetails {
    position: absolute;
    
    top: 0%;
    right: 0;
    
    
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(201%);
    
    
    
    
    font-size: 1rem;
    color: var(--mainBlack);
    border: 1px solid rgb(238, 28, 80);
    
    cursor: pointer;
  }
  .boutonDetails:hover {
    color: green;
  }
  .fas,  .fa-question-circle {
    margin-right: 0.5rem;
  }
  .fa-shopping-cart{
    color: rgb(224, 64, 117);
  }
  .fa-shopping-cart:hover {
    
    color: rgb(77, 224, 64);
  }
  .imgContainer:hover .boutonDetails {
    transform: translateX(0);
    
    
    background: transparent;
  }
  .boutonAchatPageDescription{
    position: absolute;
    
    top: 50%;
    right: 0;
    
    
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(201%);
    
    
    
    
    font-size: 3rem;
    color: var(--mainBlack);
    border: 1px solid rgb(12, 236, 31);
    
    cursor: pointer;
  }
  
  .boutonAchatPageDescription:hover {
    color: rgb(58, 245, 11);
  }
  .imgContainer:hover .boutonAchatPageDescription {
    transform: translateX(0);
    
    
    background:transparent;
  }
  .imgUrl{
    /* margin-left: 25%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    min-height: 12rem;
    transition: var(--mainTransition);
    border: #dd99cc
    5px solid;
    border-radius: 25%;
  }
  .product__img img{
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
    border: #3C254C 5px solid;
    border-radius: 25%;


  }


/* bouton details/commander*/

.product__button__panier {
  background: #3C254C;
  margin: 9px 18px;
  font-size: large;
  /* color: brown; */
  border: dashed 1px #3C254C;
  padding: 5%;
  DISPLAY: flex;
  MARGIN-RIGHT: 13%;
  cursor: pointer;
}
.product__button__panier:hover {
  background: #FFA491;


  
  margin: 9px 18px;
  font-size:x-large;
  /* color: brown; */
  border: dashed 1px #FFA491

  ;
  padding: 5%;
  DISPLAY: flex;
  MARGIN-RIGHT: 13%;
}

/* .produit button{
  /* display: flex;
  justify-content: center;
  flex-direction: row;  */
  /* margin-left: 3rem;
  background-color: blueviolet;
  border: 1px dashed red;
  border-radius: 25%;
  font-size: larger;
}  */

  .couleurProduit,
  .quantiteProduit,
  .product-card__infos__button,
  .product__infos__price,
  .product__infos__title{
    display: flex;
    justify-content: center;
  }
  .imgContainer:hover .imgProduit {
    opacity: 0.5;
  }
  
  .produit h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .produit h4 {
    margin-top: -0.3rem;
    letter-spacing: var(--mainSpacing);
    color: #548687


    ;
    /* FONT-SIZE: 1REM; */
    BORDER: 1PX SOLID;
    TEXT-ALIGN: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 3%;
    BACKGROUND-COLOR: #FFFFC7;
    ;
}
.produit h4:hover {
  margin-top: -0.3rem;
  letter-spacing: var(--mainSpacing);
  



  ;
  /* FONT-SIZE: 1REM; */
  BORDER: 1PX SOLID;
  TEXT-ALIGN: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 3%;
  BACKGROUND-COLOR: #FFFFC7

  ;
}
  .NomEtPrixCarte{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
  /* ---------------End of Products --------------*/

  /*---------------addFavorite--------*/
   .imgContainer  .addFavorite{
    font-size: 1.4rem;
    position: absolute;
    top: 80px;
    right: 10px;
}

.imgContainer .addFavorite .far{
    color: rgba(0,0,0,0.2);
}

.imgContainer .addFavorite:hover{
    color: yellow;
    cursor: pointer;
}

.imgContainer .addFavorite.activated{
    color: yellow;
}

/* container produits prix et  nom */
.product__infos{
  border: 1px dashed #FFFFC7;
  background-color: #548687 ;
  color:#FFFFC7 ;
}


/*++++++++++++++++++++++++++++++++++++ 
+++++++++++++++++++++++++++++++++
++++++++++++++++++++MEDIAqUERIES+++++++*/

@media screen and (max-width: 360px) {
/*  accueil */
  .navigation ul {
   right: 2%;
    cursor: pointer;
    
    list-style-type: none;
    
    }
    .header{
      display: none;
    }
    #canvas1{
      display: none;
   
     
    }
    .product__button__panier{
      margin: 9% 16%;
    }


    /* description*/

    .couvertureDeLaCart article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .couleurProduit, .quantiteProduit, .product-card__infos__button, .product__infos__price, .product__infos__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5% 0%;
}
.boutonPanier {
  margin-right: 5%;
  /* MARGIN: 5% -6%; */
  POSITION: absolute;
  right: -1%;
  TOP: 12%;
}

} 

@media screen and (max-width: 540px) {
 
  .couvertureDeLaCart article {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .boutonPanier {
    position: absolute;
    left: 70%;
}
  }
  @media screen and (min-width: 592px) {
 
    .couvertureDeLaCart article {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
    .justifyProduits {
      width: 100vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem;
      border: turquoise;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
  }
    .boutonPanier {
      position: absolute;
      left: 70%;
  }
    }


    @media screen and (min-width: 592px) {
 
      
    .justifyProduits {
      width: 100vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      grid-column-gap: 12.5rem;
      grid-row-gap: 6rem;
      border: turquoise;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
  }
      }
  

@media screen and (max-width: 1024px) {
 
.justifyBarreDeNavigation {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
}
@media screen and (min-width: 592px) {
 
      
  .justifyProduits {
    width: 100vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 12.5rem;
    grid-row-gap: 6rem;
    border: turquoise;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
    }  
    
    @media screen and (max-width: 1920px) {
      .justifyProduits {
        width: 100vw;
        margin: 0 auto;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-column-gap: 11.5rem;
        grid-row-gap: 6rem;
        border: turquoise;
        /* display: flex; */
        /* flex-direction: column-reverse; */
        /* flex-wrap: wrap; */
    }
    
      
    }
        


