@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
.contenuPage{
  z-index: 100000;
}
a {
  text-decoration: none;
}
/* --------------- Navbar ---------------- */
.barreDeNavigation {
    position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    /*background: url("../../backend/images/teddy_2.jpg") center/cover no-repeat;*/
    background: radial-gradient(circle at center, #c98987 10%, #bc95e7 100%);
    z-index: 1;
  }
.barreDeNavigation img{
    border-radius: 23%;
}
.justifyBarreDeNavigation {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
  }


.navigation ul {
  position: ABSOLUTE;
  cursor: pointer;
  TOP: 38%;
  RIGHT: 15%;
  
  }
.panierItems {
  position: absolute;
  top: 39%;
  right: 13%;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

/*-------------------header-------------*/ 
.header {
    min-height: calc(100vh - 60px);
    background: url("../../backend/images/teddy_1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.banniere {
    text-align: center;
    /*background: radial-gradient(circle at center, #c98987 10%, #bc95e7 100%);*/
    background: transparent;
    display: inline-block;
    padding: 2rem;
    color:#dfb3f5
   
  }
.titreDeLaBanniere {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
.boutonAchatDeLaBanniere {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    /* z-index: 10; */
    position: absolute;
    left: 40%;
     
  }
.boutonAchatDeLaBanniere:hover {
  background: transparent;
  color: var(--mainGrey);
}
/*-----------------fin du header--------------*/
/* --------------- Produits ---------------- */
.bg{
  background: radial-gradient(circle at center, hsl(269, 41%, 51%) 50%, #c98987 10%);
  height: 75vh;

}
.produits {
    padding: 4rem 0;
  }
  .titreDeLaSection h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cartContaineur{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 10%;

  }
  .justifyProduits {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    /* je veux que la colone soit au minimum 260px (responsive)+ AUTOFIT = prend toute la place restante != autofill*/
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    border: turquoise;

  }
  .imgContainer {
    position: relative;
    overflow: hidden;
    border-radius: 25%;
  }
  .boutonDetails {
    position: absolute;
    
    top: 0%;
    right: 0;
    
    
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(201%);
    
    
    
    
    font-size: 1rem;
    color: var(--mainBlack);
    border: 1px solid rgb(238, 28, 80);
    
    cursor: pointer;
  }
  .boutonDetails:hover {
    color: green;
  }
  .fas,  .fa-question-circle {
    margin-right: 0.5rem;
  }
  .fa-shopping-cart{
    color: rgb(224, 64, 117);
  }
  .fa-shopping-cart:hover {
    
    color: rgb(77, 224, 64);
  }
  .imgContainer:hover .boutonDetails {
    transform: translateX(0);
    
    
    background: transparent;
  }
  .boutonAchatPageDescription{
    position: absolute;
    
    top: 50%;
    right: 0;
    
    
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(201%);
    
    
    
    
    font-size: 3rem;
    color: var(--mainBlack);
    border: 1px solid rgb(12, 236, 31);
    
    cursor: pointer;
  }
  
  .boutonAchatPageDescription:hover {
    color: rgb(58, 245, 11);
  }
  .imgContainer:hover .boutonAchatPageDescription {
    transform: translateX(0);
    
    
    background:transparent;
  }
  .imgUrl{
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    min-height: 12rem;
    transition: var(--mainTransition);
    border: rgb(224, 64, 163) 5px solid;
    border-radius: 25%;
  }
  .product__img img{
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
    border: rgb(224, 64, 163) 5px solid;
    border-radius: 25%;


  }
  .couleurProduit,
  .quantiteProduit,
  .product-card__infos__button,
  .product__infos__price,
  .product__infos__title{
    display: flex;
    justify-content: center;
  }
  .imgContainer:hover .imgProduit {
    opacity: 0.5;
  }
  
  .produit h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .produit h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }

  .NomEtPrixCarte{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
  /* ---------------End of Products --------------*/

  /*---------------addFavorite--------*/
   .imgContainer  .addFavorite{
    font-size: 1.4rem;
    position: absolute;
    top: 80px;
    right: 10px;
}

.imgContainer .addFavorite .far{
    color: rgba(0,0,0,0.2);
}

.imgContainer .addFavorite:hover{
    color: yellow;
    cursor: pointer;
}

.imgContainer .addFavorite.activated{
    color: yellow;
}

/*---------------------footer------------------*/
.footer-1 a,
.footer-2 a,
.footer-3 a {
  display: flex;
  flex-direction: column;
  margin: 5px 0 16px 0;
  text-decoration: none;
}
.heberger h4 {
  margin-right: -19px;
}
.assistance {
  margin-left: 1%;
}
.heberger {
  margin-left: 17%;
}
.a-propos {
  margin: 0px 1px;
}
.all-footer {
  display: flex;
  justify-content: space-around;
 
  background: radial-gradient(circle at center, #c98987 10%, #bc95e7 100%);
}




